numpy
fsspec
matplotlib
requests
omegaconf
transformers
pytorch-lightning

#torchvision

#kornia>=0.6.9
packaging


#xformers>=0.0.20


#open-clip-torch>=2.20.0
regex
ftfy
tqdm
sentencepiece
protobuf

#timm
pyyaml
huggingface_hub